-if @execution_exception.present?
  .panel
    %h5 Umm.. You broke it? [or maybe it's broken]
    .alert-box It'd totally help if you would click feedback and let me know the code you ran to break it.
    %p Thanks for trying out RubyFiddle
-if @riddle_result.present?
  .panel
    %h6 Output
    %hr
    %code
      -if @riddle_result.output.present?
        =simple_format @riddle_result.output 
        %br
      -if @riddle_result.exception.present?
        EXCEPTION:
        = simple_format @riddle_result.exception
      -else 
        =" => #{@riddle_result.result}" if @riddle_result.result.present?
        %br
