-if @execution_exception.present?
  .panel
    %h5 Wowsers, something went wrong!
    .alert-box You're feedback would be greatly appreciated! Please click feedback and tell us what code you input. 
    %p Thanks for trying out RubyFiddle
-if @riddle_result.present?
  .panel
    %h6 Output
    %hr
    %code
      -@riddle_result.output.each do |output|
        =output
        %br
      -if @riddle_result.result.present?
        =" => #{@riddle_result.result}"
        %br
      -if @riddle_result.exception.present?
        = simple_format @riddle_result.exception
