-if @execution_exception.present?
  .panel
    %h5 Umm.. You broke it? [or maybe it's broken]
    .alert-box It'd totally help if you would click feedback and let me know the code you ran to break it.
    %p Thanks for trying out RubyFiddle
-if @riddle_result.present?
  .panel
    %h5 Output
    %code
      =simple_format @riddle_result.output if @riddle_result.output.present?
      %br
      =" => #{@riddle_result.result}" if @riddle_result.result.present?
      %br
      =simple_format @riddle_result.error_text
