.tool {
  display: block;
  margin: 0 auto;
  fill: #bdc3c7;
  width: 3em;
  height: 3em;
  &:hover {
    fill: #27ae60;
  }
}

#riddle_form {
  a{
    &:hover {
      background-color: inherit;
    }
  }
}

