.content-bar
  =simple_form_for(@riddle, url: play_path, :remote => true, :method => :post, disable_with: "Running That Ruby!", :html=>{:id=>"riddle_form"}) do |f|
    .button-content
      =f.submit "Run", :class=>"execute button"
      %ul.block-grid.three-up
        -if @riddle.persisted?
          %li
            =link_to "#", :id=>"update_riddle", "data-update-url" => url_for(@riddle), title: "Save a new version", :class=> "has-tip white small radius button" do
              %i.icon-edit.icon-large
              Update
            %li
              =link_to "#", :id=>"fork_riddle", "data-fork-url" => url_for([:fork, @riddle]), title: "Fork your own version", :class=> "has-tip white small radius button" do
                %i.icon-share.icon-large
                Fork
        -else
          %li
            =link_to "#", :id=>"save_riddle", :class=> "white small radius button" do
              %i.icon-edit.icon-large
              Save
        %li
          =link_to "#", :id=> "create_gist", title: "Create a public github gist", :class=> "has-tip white small radius button" do
            %i.icon-github-sign.icon-large
            Gistify
      =f.input :code, :as => :text, label: false, placeholder: "Step Only: Enter your ruby here", input_html: {id: "riddle_code"}
  %br

  
