.container.riddle
  .row
    .five.columns
      %ul.block-grid.three-up
        -if @riddle.persisted?
          %li
            =link_to "#", :id=>"update_riddle", "data-update-url" => url_for(@riddle), :class=> "white small radius button" do
              %i.icon-edit.icon-large
              Update
            %li
              =link_to "#", :id=>"fork_riddle", "data-fork-url" => url_for([:fork, @riddle]), :class=> "white small radius button" do
                %i.icon-share.icon-large
                Fork
        -else
          %li
            =link_to "#", :id=>"save_riddle", :class=> "white small radius button" do
              %i.icon-edit.icon-large
              Save
  .row
    .five.columns
      .alert-box
        %span.label.green.radius Online!
        We had a hiccup earlier with code execution... Back [probably for now]
      =render partial: "form"

    .seven.columns
      #riddle_result
