.row.full-width
  .large-8.columns
    =render partial: "form"
    
  .large-4.columns
    #info-panel#riddle_result
      %h4 Welcome to RubyFiddle 
      %p We wanted a way for people to experience some Ruby in the browser, as well as have a platform that can send cool Ruby scripts to one another.
      %hr

      %h4 Sample Riddles
      %ul.three-up.no-bullet
        %li=link_to "99 Bottles of Beer", "http://rubyfiddle.com/riddles/8bda7", class: :g
        %li=link_to "Instance variable get", "http://rubyfiddle.com/riddles/c07a2", class: :g
        %li=link_to "Using Yield to log \"stuff\"", "http://rubyfiddle.com/riddles/10504/9", class: :g

      %h4 Key Bindings
      %ul.stack-for-small.round.secondary.button-group.key-bindings
        %li=link_to "None", "#", class: "small button selected", "data-keybinding"=>""
        %li=link_to "vim", "#", class: "small button", "data-keybinding"=>"vim"
        %li=link_to "emacs", "#", class: "small button", "data-keybinding"=>"emacs"

.row
  =render partial: "layouts/modals"
  =render partial: 'layouts/footer'
