.container.riddle

  .row
    .large-8.columns
      =render partial: "form"
      
    .large-4.columns
      #info-panel#riddle_result
        %h2 Welcome to RubyFiddle 
        %p We wanted a way for people to experience some Ruby in the browser, as well as have a platform that can send cool Ruby scripts to one another.
        %hr

        %h2 Sample Riddles
        %ul.block-grid.three-up
          %li=link_to "99 Bottles of Beer", "http://rubyfiddle.com/riddles/8bda7", class: :button
          %li=link_to "Instance variable get", "http://rubyfiddle.com/riddles/c07a2", class: :button
          %li=link_to "Using Yield to log \"stuff\"", "http://rubyfiddle.com/riddles/10504/9", class: :button

        %h2 Key Bindings
        %ul.block-grid.three-up
          %li
            .segmented_control.left_section
              %i.icon-cogs.icon-large 
              %button#none.left_section.selected_binding{:type => 'button', :value => 'none'} None
              %button#vim.middle_section.has-tip{:type => 'button', :value => 'vim', title: "Most vim bindings (i, esc, dw)"} Vim
              %button#emacs.right_section.has-tip{:type => 'button', :value => 'emacs', title: "Most emacs bindings"} Emacs

.row
  =render partial: "layouts/modals"
  =render partial: 'layouts/footer'
