.container.riddle
  .row
    .five.columns
      %ul.block-grid.three-up
        %li
          =link_to "#", :id=>"save_riddle", "data-reveal-id" => "coming-soon",  :class=> "white small radius button" do
            %i.icon-edit.icon-large
            Save
        %li
          =link_to "#", :id=>"fork_riddle", "data-reveal-id" => "coming-soon",:class=> "white small radius button" do
            %i.icon-share.icon-large
            Fork
  .row
    .five.columns
      %h2 Console
      =render partial: "form"

    .seven.columns
      %h2 Output
      .panel
        -if @riddle_result.present?
          %code
            =simple_format @riddle_result.output if @riddle_result.output.present?
            %br
            =" => #{@riddle_result.result}" if @riddle_result.result.present?
            %br
            =simple_format @riddle_result.exception
