.container.riddle
  .row
    .five.columns
      %ul.block-grid.three-up
        -if @riddle.persisted?
          %li
            =link_to "#", :id=>"update_riddle", "data-update-url" => url_for(@riddle), :class=> "white small radius button" do
              %i.icon-edit.icon-large
              Update
            %li
              =link_to "#", :id=>"fork_riddle", "data-fork-url" => url_for([:fork, @riddle]), :class=> "white small radius button" do
                %i.icon-share.icon-large
                Fork
        -else
          %li
            =link_to "#", :id=>"save_riddle", :class=> "white small radius button" do
              %i.icon-edit.icon-large
              Save
        %li
          =link_to "#", :id=> "create_gist", :class=> "white small radius button" do
            %i.icon-github-sign.icon-large
            Gistify
        %br
        %br
        %br
            
        %li
          .segmented_control.left_section
            %i.icon-cogs.icon-large
            Key Bindings
            %button#none.left_section.selected_binding{:type => 'button', :value => 'none'} none
            %button#vim.middle_section{:type => 'button', :value => 'vim'} vim
            %button#emacs.right_section{:type => 'button', :value => 'emacs'} emacs
  .row
    .five.columns
      =render partial: "form"

      %a{:href=>"https://twitter.com/share", :class=>"twitter-share-button", :"data-via"=>"twitterapi", :"data-lang"=>"en"}Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    .seven.columns
      #riddle_result
