.container
  .row
    %h1 New Riddle
  .row
    .four.columns
      %h2 Console
      =simple_form_for(@riddle) do |f|
        =f.input :code, :as => :text, label: false
        =f.submit "Save Riddle"
    .eight.columns
      %h2 Output
      -if @riddle_result.present?
        %code
          =simple_format @riddle_result.output if @riddle_result.output.present?
          %br
          =simple_format " => #{@riddle_result.result}" if @riddle_result.result.present?
          %br
          =simple_format @riddle_result.exception
