.container.riddle


  .row
    .small-7.columns
      =render partial: "form"
      
    .small-5.columns
      =render partial: "info"
      #info-panel
        #riddle_result

=render partial: "layouts/modals"
=render partial: "layouts/gauges"
