.container
  .row
    %h1 New Riddle
  .row
    .four.columns
      %h2 Console
      =simple_form_for(@riddle) do |f|
        =f.input :code, :as => :text, label: false
        =f.submit "Save Riddle"
    .eight.columns
      %h2 Output
      %code
        =simple_format @riddle.output if @riddle.output.present?
        %br
        =simple_format " => #{@riddle.result}" if @riddle.result.present?
        %br
        =simple_format @riddle.exception
