.container.riddle


  .row
    .small-7.columns
      =render partial: "form"
      
    .small-5.columns
      =render partial: "info"
      #info-panel
        %h2 Welcome to RubyFiddle 
        %p We wanted a way for people to experience some Ruby in the browser, as well as have a platform that can send cool Ruby scripts to one another.
        %hr
        #riddle_result

=render partial: "layouts/modals"
=render partial: "layouts/gauges"
