%footer
  .row
    .small-4.columns
      .centered
        %p
          Created By 
          =link_to "@jwo", "http://twitter.com/jwo"
          for
          =link_to "rubyoffrails", "http://rubyoffrails.com"
    .small-4.columns
      %p
        %a{:href=>"https://twitter.com/share", :class=>"icon-twitter-sign icon-large twitter-share-button", :"data-via"=>"twitterapi", :"data-lang"=>"en"}
        %a{:href=>"https://github.com/jwo/ruby-fiddle-web", :class=> "icon-github-sign icon-large"}
        %a{:href=>"https://github.com/jwo/rubyfiddle-exec", :class=> "icon-github-sign icon-large"}


=render partial: "layouts/modals"
=render partial: "layouts/gauges"
