<footer>
  <div class="row full-width">
    <div class="large-4 columns">
      <div class="centered">
        <p>
          Created By 
          <%= link_to "@jwo", "http://twitter.com/jwo" %>
          for
          <%= link_to "rubyoffrails", "http://rubyoffrails.com" %>
        </p>
      </div>
    </div>
    <div class="large-4 columns">
      <p>
        <a class="icon-twitter-sign icon-large twitter-share-button" data-lang="en" data-via="twitterapi" href="https://twitter.com/share"></a>
        <a class="icon-github-sign icon-large" href="https://github.com/jwo/ruby-fiddle-web"></a>
        <a class="icon-github-sign icon-large" href="https://github.com/jwo/rubyfiddle-exec"></a>
      </p>
    </div>
  </div>
</footer>
<%= render partial: "layouts/modals" %>
