<footer>
  <div class="row ">
    <div class="large-6 columns">
      <div class="centered">
        <p>
          Created By 
          <a class="twitter-follow-button"
              href="https://twitter.com/jwo"
              data-show-count="true"
              data-lang="en">
              Follow @jwo
            </a>
            <script type="text/javascript">
window.twttr = (function (d, s, id) {
      var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
            js.src= "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
                return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
                }(document, "script", "twitter-wjs"));
            </script>

          for
          <%= link_to "rubyoffrails", "http://rubyoffrails.com" %>
        </p>
      </div>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list">
        <li>
        <a href="https://github.com/jwo/ruby-fiddle-exec">Ruby Exec Process</a>
        </li>
        <li>
        <a href="https://github.com/jwo/ruby-fiddle-web">Rails App</a>
        </li>
        <li>
        <a href="https://github.com/jwo/jruby-sandbox">JRuby Sandbox</a>
        </li>
      </ul>
      </p>
    </div>
  </div>
</footer>
