#sample_riddles.reveal-modal{"data-reveal" => ""}
  %h2 Sample Riddles
  %p.lead Have more? Send them along!
  %ul.block-grid.three-up
    %li=link_to "99 Bottles of Beer", "http://rubyfiddle.com/riddles/8bda7", class: :button
    %li=link_to "instance variable get", "http://rubyfiddle.com/riddles/c07a2", class: :button
    %li=link_to "Using Yield to log \"stuff\"", "http://rubyfiddle.com/riddles/10504/9", class: :button
  %a.close-reveal-modal &#215;

#about.reveal-modal{"data-reveal" => ""}
  %h2 About RubyFiddle
  %p.lead For #{link_to "Ruby Off Rails", "http://rubyoffrails.com"}
  %p We wanted a way for people to experience some Ruby in the browser, as well as have a platform that can send cool ruby scripts to one another.
  %p Created By =link_to "@jwo", "http://twitter.com/jwo" for =link_to "rubyoffrails", "http://rubyoffrails.com"
  %a{:href=>"https://github.com/jwo/ruby-fiddle-web", :class=> "icon-github-sign icon-large"}
  %p Inspired by =link_to "JSFiddle", "http://jsfiddle.net"
  %a.close-reveal-modal &#215;

#fork.reveal-modal{"data-reveal" => ""}
  %h2 Fork RubyFiddle!
  %p.lead What does this mean?
  %p In Github, forking is a way that you can build upon someone else's code. 
  %p Once the project you have forked the code, you can update it from that point on.
  %a.close-reveal-modal &#215;

#security.reveal-modal{"data-reveal" => ""}
  %h2 Security Concerns?
  %p.lead  RubyFiddle grew up a little bit on June 14, 2012. 
  %p  We execute in a restricted environment on Heroku and unfortunately, system calls and Ruby classes cause problems. 
  %ul.block-grid.three-up
    %li=link_to "Delete all files", "http://rubyfiddle.com/riddles/0a805", class: :button
    %li=link_to "while { fork }", "http://rubyfiddle.com/riddles/0a805/7", class: :button
    %li=link_to "Read the /etc/passwd", "http://rubyfiddle.com/riddles/0a805/2", class: :button
  %p Due to such security concerns, we had to disable things like #{link_to "re-opening a class (String)", "http://rubyfiddle.com/riddles/50c9b/2"}
  %a.close-reveal-modal &#215;

#preferences.reveal-modal{"data-reveal" => ""}
  %h2 Preferences
  .alert-box.alert-info
    Currently Upgrading to JRuby. You may expect a bit of turbulence!

  .six.columns
  %ul.block-grid.one-up.centered
    %li
      .segmented_control.left_section
        %h4 Key Bindings
        %i.icon-cogs.icon-large 
        %button#none.left_section.selected_binding{:type => 'button', :value => 'none'} None
        %button#vim.middle_section.has-tip{:type => 'button', :value => 'vim', title: "Most vim bindings (i, esc, dw)"} Vim
        %button#emacs.right_section.has-tip{:type => 'button', :value => 'emacs', title: "Most emacs bindings"} Emacs
