#sample_riddles.reveal-modal
  %h2 Sample Riddles
  %p.lead Coming Soon
  %p So first we need some riddles created. Then we can get a list of awesome ones.
  %a.close-reveal-modal &#215;

#about.reveal-modal
  %h2 About Ruby Fiddle
  %p.lead For Ruby Off Rails
  %p I wanted a way for people to experience some ruby in the browser, and have a platform that we can send cool ruby scripts to each other.
  %a.close-reveal-modal &#215;

#fork.reveal-modal
  %h2 Fork it!
  %p.lead What?
  %p In case you're not a githubber, forking is a way that you can build upon someone else's cool code. 
  %p So you'll Fork someone's code, and then be able to update it from that point on.
  %a.close-reveal-modal &#215;

#coming-soon.reveal-modal
  %h2 Coming Soon
  %p.lead Sorry, not quite ready for that
  %a.close-reveal-modal &#215;
