#sample_riddles.reveal-modal
  %h2 Sample Riddles
  %p.lead Have more? Send them along!
  %ul.block-grid.three-up
    %li=link_to "Job Interview Sample", "http://rubyfiddle.com/riddles/df1a6", class: :button
    %li=link_to "instance variable get", "http://rubyfiddle.com/riddles/c07a2", class: :button
    %li=link_to "Using Yield to log \"stuff\"", "http://rubyfiddle.com/riddles/10504/2", class: :button
  %a.close-reveal-modal &#215;

#about.reveal-modal
  %h2 About Ruby Fiddle
  %p.lead For Ruby Off Rails
  %p I wanted a way for people to experience some ruby in the browser, and have a platform that we can send cool ruby scripts to each other.
  %a.close-reveal-modal &#215;

#fork.reveal-modal
  %h2 Fork it!
  %p.lead What?
  %p In case you're not a githubber, forking is a way that you can build upon someone else's cool code. 
  %p So you'll Fork someone's code, and then be able to update it from that point on.
  %a.close-reveal-modal &#215;

#security.reveal-modal
  %h2 Security Concerns?
  %p.lead Read Only File System
  %p I've had people contact me about being able to run arbitrary code, and are concerned. Don't be! It's a feature!
  %p The code is executed on Heroku read only file system, with no database access. So you can't do anything bad. Try it out!
  %ul.block-grid.two-up
    %li=link_to "Delete all files", "http://rubyfiddle.com/riddles/0a805", class: :button
    %li=link_to "Read the /etc/passwd", "http://rubyfiddle.com/riddles/0a805/2", class: :button
  %a.close-reveal-modal &#215;
