#sample_riddles.reveal-modal
  %h2 Sample Riddles
  %p.lead Have more? Send them along!
  %ul.block-grid.three-up
    %li=link_to "Add method to String", "http://rubyfiddle.com/riddles/50c9b/2", class: :button
    %li=link_to "instance variable get", "http://rubyfiddle.com/riddles/c07a2", class: :button
    %li=link_to "Using Yield to log \"stuff\"", "http://rubyfiddle.com/riddles/10504/9", class: :button
  %a.close-reveal-modal &#215;

#about.reveal-modal
  %h2 About Ruby Fiddle
  %p.lead For #{link_to "Ruby Off Rails", "http://rubyoffrails.com"}
  %p I wanted a way for people to experience some ruby in the browser, and have a platform that we can send cool ruby scripts to each other.
  %a.close-reveal-modal &#215;

#fork.reveal-modal
  %h2 Fork it!
  %p.lead What?
  %p In case you're not a githubber, forking is a way that you can build upon someone else's cool code. 
  %p So you'll Fork someone's code, and then be able to update it from that point on.
  %a.close-reveal-modal &#215;

#security.reveal-modal
  %h2 Security Concerns?
  %p They say being pwned is a right of passage for an app. RubyFiddle grew up a little bit on June 14, 2012. 
  %p We execute in a restricted environment on Heroku, but system calls and even ruby classes would still cause problems in ways I didn't anticipate. 
  %ul.block-grid.three-up
    %li=link_to "Delete all files", "http://rubyfiddle.com/riddles/0a805", class: :button
    %li=link_to "while { fork }", "http://rubyfiddle.com/riddles/0a805/7", class: :button
    %li=link_to "Read the /etc/passwd", "http://rubyfiddle.com/riddles/0a805/2", class: :button
  %a.close-reveal-modal &#215;
