#navBar.container
  .row
    .twelve.columns
      %h1
        =link_to root_path do
          RubyFiddle
      %ul.nav-bar.hide-on-phones.nav
        %li=link_to "Sample Riddles", "#", "data-reveal-id" => :sample_riddles
        %li=link_to "About", "#", "data-reveal-id" => :about
        %li=link_to "Fork?", "#", "data-reveal-id" => :fork
        %li=link_to "Security", "#", "data-reveal-id" => :security
        %li=link_to "Ruby Off Rails", "http://rubyoffrails.com"


