#navBar.container
  .row
    .twelve.columns
      %h1=link_to "Ruby Fiddle", root_path
      %ul.nav-bar.hide-on-phones.nav
        %li=link_to "Sample Riddles", "#"
        %li=link_to "About", "#"
        %li=link_to "Fork", "#"
        %li=link_to "Ruby Off Rails", "#"
        %li=link_to "Login", "#"
